<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
            <div class="card mt-3">
            <div class="card-header bg-info text-center" style="font-family: monospace; color: white; font-weight: bold;">YOUR ORDERS PURCHASED</div>
            <table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Order No.</th>
						<th>Order Date</th>
						<th>Shipping Address</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order, state: ${orders}">
						<td>[[${state.index}]]</td>
						<td>[[${order.id}]]</td>
						<td>[[${order.createDate}]]</td>
						<td>[[${order.address}]]</td>
						<td>
							<a th:href="@{|/order/detail/${order.id}|}" class="btn btn-default">
								<i class="bi bi-search"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
          </div>
        </main>
    </body>
</html>