<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
            <div class="card mt-3" th:fragment="shopping_cart">
            	<div class="card-header bg-info text-center" style="font-family: monospace; color: white; font-weight: bold;">SHOPPING CART</div>
            	<table class="table">
            		<thead>
            			<tr>
            				<th>Id</th>
            				<th>Name</th>
            				<th>Price</th>
            				<th>Quantity</th>
            				<th>Amount</th>
            				<th></th>
            			</tr>
            		</thead>
            		<tbody>
					<tr ng-repeat="item in cart.items">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>${{item.price | number : 2}}</td>
						<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1" style="width:60px;"/></td>
						<td>${{item.qty * item.price | number : 2}}</td>
						<td>
							<button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
								<i class="bi bi-trash"></i> Clear
							</button>
						</td>
					</tr>
				</tbody>  
            	</table>
            	<div class="card-footer">
            		<button ng-click="cart.clear()" class="btn btn-danger mx-2">
            			<i class="bi bi-trash"></i> Clear
            		</button>
            		<a th:href="@{/order/checkout}" class="btn btn-primary">
            			<i class="bi bi-arrow-bar-right"></i> Checkout
            		</a>
            	</div>
            </div>
        </main>
    </body>
</html>